@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
	@apply bg-gradient-to-br from-[#a071f9] via-secondary to-[#573c9d] bg-clip-text text-transparent;
}

.bg-gradient {
	@apply bg-gradient-to-br from-[#a071f9] via-secondary to-[#573c9d];
}

input {
	outline: none;
}

.Typewriter__cursor {
	background-color: linear-gradient(45deg, #a071f9, #573c9d);
	background-clip: text;
	color: transparent;
}

.Typewriter__cursor {
	color: #a071f9;
}
